body{
    background-color: rosybrown;
}
#sticker{
   color:#600E06 ;
}
.stick {
    position:fixed;
	top:0px;
	z-index:999999999999;
    background:#EDCDD2 ;
    color: #32171C  !important;
}
.soyab{
height: 50px;
}
#social_area{
    list-style-type: none;
    padding: 10px;
    position: fixed;
    right: 0%;
    top: 30%;
    background:#ddd;
	border-radius:25px 0 0 25px;
}
#social_area li{
	float:none;
	
}
#social_area li img{
	width:64px;
	height:64px;
	
}
#new ul{
    list-style-type:none;
    margin: 200px;
}
#new ul li a{
    color: #fff;
    background-color: #000;
    display:inline-block;
    padding: 10px 60px;
    margin: 5px 0px;
    text-decoration: none;
}
#new ul li a:hover{
    background-color: #F10D37;
}
#new ul li a:active{
    background-color:#32171C;
}
#new ul li a:focus{
    background-color: tomato;
}
#new ul li a:visited{
    background-color: #7ECF74 ;
}


